@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*------ Variables */
:root{
  /*------ Colores */
  --main-color: #edc2fc;
  --black-color: #313337;
  --white-color: #296181;
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
  /*------ Box shadow*/
  --box:0px 0 2px 1px #e6e5e9;
}

/* -------------------------------------------  */
html, body{
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
}

p, label{
  font-size: var(--normal);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  min-height: 60px;
  background-color: var(--main-color);
}

nav img{
  width: 20%;
  height: 20%;
}

nav a{
  text-decoration: none;
  color: var(--white-color);
  font-size: var(--normal);
  font-weight: bold;
}

nav a:hover{
  font-weight: bolder;
  text-decoration: underline;
}

nav ul {
  display: flex;
}

nav ul li{
  padding-right: 30px;
  list-style: none;
}

hr{
  opacity: .2;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  text-align: center;
  padding: 13%;
}

.inicial{
  padding: var(--space);
  background-color: var(--main-color);
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
  padding: 1%;
}

.inicial a{
  text-decoration: none;
}

/* -------------------------------------------  PRODUCTOS */

.contenido{
  margin-top: 100px;
}

.products{
  background-image: url("../images/curve.png");
  padding: 15%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 95px;
  background-size: cover;
}

.product{
  padding: 20px;
  margin-top: -190px;
}

.image-product{
  text-align: center;
}

.content{
  padding: 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
  text-align: center;
}

.main_btn{
  padding: var(--space);
  background-color: var(--main-color);
  width: 100%;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
}
.main_btn:hover{
  text-decoration: underline;
}

/* Beneficios */
.beneficios{
  padding: 10%;
  display: flex;
}

.beneficio{
  text-align: center;
  padding: 20px;
}

.beneficio img{
  max-height: 100px
}

.text_beneficio{
  text-align: justify;
}

.tortas{
  height: 247px;
  width: 190px;
}

/* Mentions */
.mentions{
  display: flex;
  padding: 5%;
}
.mention img{
  width: 100%;
}
h2.mention_title{
  text-align: center;
}
.mention{
  padding: var(--space);
}
.content_mention{
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text{
  padding: var(--space);
}
/* ------------------------------------------- Venta */

.modulo_pago{
background-color:white;
box-shadow: var(--box);
padding:var(--space);
}

.modulo_pago_images{
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin:auto;
}

.data{
  margin-top: var(--space);
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border: 1px solid black;
  box-sizing: border-box;
}

.main_btn{
  margin-top: var(--space);
}

.main_btn a{
  text-decoration: none;
  color: var(--white-color);
}

/* ------------------------------------------- Footer */
footer{
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--main-color);
  padding: var(--space);
  color: var(--white-color);
  margin-top: 3.1%;
}

footer a{
  color: var(--white-color);
  text-decoration: none;
}