.container{
    max-width: 900px;
    margin: auto;
}

.row{
    display: flex;
}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 24.9999%;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6666%;
}

.col-6{
    width: 49.9999%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 74.9999%;
}

.col-10{
    width: 83.3333%;
}

.col-11{
    width: 91.6666%;
}

.col-12{
    width: 100%;
}

[class*="col-"]{
    padding: 10px;
}

[class*="col-"] img{
    width: 100%;
}

.no-desk{
    display: none;
  }

@media (max-width:600px) {
    .container{
      padding: 30px;
    }
    .no-mobile{
      display: none
    }
    .no-desk{
      display: initial;
    }
    .row{
      display: inline;
      padding: 10px;
    }
    [class*="col-"]{
      width: 100%;
      padding: 0px;
    }
  }
  